<app-header
  title="Articulos"
  icon="add-outline"
  [showButtonBack]="true">
</app-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      
      <ion-col size-xs="12" size-sm="10" size-md="8" size-lg="" size-xl="7">
        <ion-card class="rounded-4">
          <ion-card-header>
            <ion-card-title>
              <ion-text color="medium">
                <h1><ion-icon name="add-outline" style="font-size: 30px;"></ion-icon> {{ title }}</h1>
              </ion-text>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="mt-2">
            <form [formGroup]="articleForm">
              <ion-row>
                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">
                  <app-input
                    [load]="load"
                    [form]="articleForm"
                    name="name"
                    label="Nombre"
                    placeholder="Ingresa el nombre del artículo"
                    [required]="true"
                  ></app-input>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">
                  <app-input
                    [load]="load"
                    [form]="articleForm"
                    name="mark"
                    label="Marca"
                    placeholder="Ingresa la marca"
                    [required]="true">

                  </app-input>
                </ion-col>
              </ion-row>
              <ion-row>
                
                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">
                  <app-select
                    [form]="articleForm"
                    name="categoryRef"
                    label="Categorias"
                    placeholder="Selecciona una categoria"
                    [required]="true"
                    [disabled]="false"
                    [load]="load"
                    [options]="{
                      resolver: 'categories',
                      label: 'name',
                      value: 'uid' }">
                  </app-select>
                </ion-col>
              </ion-row>
              <!-- Otras propiedades del artículo se agregarían aquí -->
              <ion-row *ngIf="!load">
                <ion-col>
                  <ion-button shape="round" [disabled]="articleForm.invalid" (click)="submit()">Guardar</ion-button> 
                </ion-col>
              </ion-row>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
