<ion-content>
  <h1>Estas en inicio</h1>

  <ion-button color="danger" (click)="navigate('login')">
    Login
  </ion-button>

  <ion-button color="warning" (click)="navigate('login')">
    Inicio
  </ion-button>
  <ion-button color="success" (click)="navigate('login')">
    Inventario
  </ion-button>
  <ion-button color="warning" (click)="navigate('login')">
    Categorias
  </ion-button>
  <ion-button color="success" (click)="navigate('login')">
    Productos
  </ion-button>
  <ion-button color="warning" (click)="navigate('login')">
    Ventas
  </ion-button>
  <ion-button color="success" (click)="navigate('login')">
    Compras
  </ion-button>
  <ion-button color="warning" (click)="navigate('login')">
    Roles y usuarios
  </ion-button>
  <ion-button color="success" (click)="navigate('login')">
    Estadisticas
  </ion-button>
  <ion-button color="warning" (click)="navigate('login')">
    Anulaciones
  </ion-button>
</ion-content>
