@if (!load) {
  <mat-form-field class="w-full" [appearance]="'fill'">
    @if (icon) {
      <ng-icon class="text-gray-500 absolute top-4 left-2 z-10" size="20" [name]="icon"></ng-icon>
    }

    <mat-select
      [placeholder]="placeholder"
      [formControl]="selectControl"
      multiple>

      @for (option of formArrayOptions; track option.index) {
        <mat-option [value]="option.index">
          {{ option.label }}
        </mat-option>
      }
    </mat-select>

    @if(isValid) {
      <ng-icon class="text-green-500 absolute right-2 top-4 z-10" size="20" name="matCheckCircleOutline"></ng-icon>
    }
    @if(!isValid) {
      <ng-icon class="text-red-500 transform rotate-45 absolute right-2 top-4 z-10" size="20" name="matAddCircleOutlineOutline"></ng-icon>
    }
  </mat-form-field>
} @else {
  <div class="relative">
    <input class="relative w-full pl-12 pr-3 py-2 rounded-2xl bg-gray-300 dark:bg-gray-700 dark:text-white border-none focus:border focus:border-gray-300 animate-pulse" disabled>
    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
      @if(icon){
        <span class="top-1/4">
          <ng-icon class="text-slate-500 font-bold dark:text-slate-400 animate-pulse" size="20" [name]="icon"></ng-icon>
        </span>
      }
    </div>
  </div>
}

