@if (!load) {
  <h2 class="mb-2 text-gray-500 dark:text-gray-400">{{ label }}</h2>

  <div [formGroup]="form">
    <ng-container formArrayName="{{name}}">
      <section class="example-section">
        <div *ngFor="let option of formArrayOptions; let i = index" class="w-48">
          <mat-checkbox [formControlName]="i" color="primary">
            {{ option.label }}
          </mat-checkbox>
        </div>
      </section>
    </ng-container>
  </div>
}@else {
  <div class="rounded-md max-w-sm w-full mx-auto ml-0 mb-5">
    <div class="animate-pulse flex space-x-4">
      <div class="flex-1 space-y-6 py-1 w-full">
        <div class="h-3 w-52 bg-gray-300 dark:bg-gray-700 rounded-lg"></div>
      </div>
    </div>
    <div class="animate-pulse flex mt-1">
      <div class="ml-2 rounded-sm bg-gray-300 dark:bg-gray-700 h-5 w-5"></div>
      <div class="ml-1 h-4 w-20 bg-gray-300 dark:bg-gray-800 rounded-lg"></div>

      <div class="ml-2 rounded-sm bg-gray-300 dark:bg-slate-700 h-5 w-5"></div>
      <div class="ml-1 h-4 w-20 bg-gray-300 dark:bg-gray-800 rounded-lg"></div>

      <div class="ml-2 rounded-sm bg-gray-300 dark:bg-gray-700 h-5 w-5"></div>
      <div class="ml-1 h-4 w-20 bg-gray-300 dark:bg-gray-800 rounded-lg"></div>
    </div>
  </div>
}










