<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="bg-white p-16 rounded-xl shadow-md w-120 text-center">
        <!-- Cambia la etiqueta de la imagen por ng-icon -->
        <ng-icon name="matLockPersonOutline" class="text-gray-500 text-sm mb-6 md:mb-0" style="font-size: 85px; margin-right: 8px;"></ng-icon>
        <h3 class="font-bold">Has olvidado tu contraseña</h3>

        <!-- Aplica estilo gris claro sin negrita a las etiquetas p -->
        <p class="text-gray-400">Introduce la dirección de correo electrónico</p>
        <p class="text-gray-400">asociado con tu cuenta</p>

        <form class="md:w-115">
            <div class="mb-10 relative">
                <label for="email" class="block text-gray-700 text-sm font-bold mb-2"></label>
                <div class="relative">
                    <ng-icon name="matAlternateEmailOutline" class="absolute left-4 top-1/2 transform -translate-y-1/2 text-gray-500" style="font-size: 24px; margin-right: 8px;"></ng-icon>
                    <input type="email" id="email" name="email" placeholder="Correo Electrónico" class="w-full p-4 pl-14 border border-gray-300 rounded-xl focus:outline-none focus:border-blue-500" required>
                </div>
            </div>

            <button type="submit" class="w-50 bg-green-500 text-white p-4 rounded-md hover:bg-green-700 focus:outline-none focus:shadow-outline-blue">Enviar</button>
        </form>
    </div>
</div>
