<div class="p-2 m-2 bg-white rounded dark:bg-slate-900 dark:border-slate-800">
  <div class="w-full sm:border-b text-lg dark:border-gray-500 mb-4 pb-2 flex justify-between">

    @if (mode === 'edit'|| mode === 'view') {
      <p class="text-gray-500 dark:text-gray-300 text-base"><b>ID compra: </b>{{ id }}</p>
    }

    <button (click)="back()" class="btn-back">
      <ng-icon class="btn-back-icon" size="20" name="matArrowBackOutline"></ng-icon>
      <p class="hidden sm:block text-sm font-bold">Regresar</p>
    </button>
  </div>

  <div class="w-full p-0">
    <div class="bg-gray-50 dark:bg-slate-950 rounded-lg p-4">
      <!-- Información del Proveedor -->
      <h2 class="text-sm text-gray-500 dark:text-gray-400"><b>ID Proveedor: </b>{{ supplier?.id }}</h2>
      <h2 class="text-lg font-semibold mb-1 text-gray-500 dark:text-gray-200">{{ supplier?.supplierName }}</h2>
      <div class="mb-4 border-b border-gray-200 dark:border-gray-500 pb-2">
        <h3 class="text-sm text-gray-500 dark:text-gray-400">
          <ng-icon class="btn-back-icon" size="20" name="matLocationOnOutline"></ng-icon>
          {{ supplier?.address }}
        </h3>
        @if (supplier?.phone) {
          <h3 class="text-sm text-gray-500 dark:text-gray-400">
            <b>Teléfono:</b> {{ supplier.phone }}
          </h3>
        }
        @if (supplier?.email) {
          <h3 class="text-sm text-gray-500 dark:text-gray-400">
            <b>Email:</b> {{ supplier.email }}
          </h3>
        }
      </div>

      <!-- Fechas y Usuario -->
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 mb-4">
        <!-- Fecha de Compra -->
        <div>
          <h3 class="text-sm text-gray-500 dark:text-gray-400 font-bold">
            <ng-icon class="btn-back-icon" size="20" name="matCalendarMonthOutline"></ng-icon>
            Fecha de Compra
          </h3>
          <h3 class="text-sm text-gray-500 dark:text-gray-400">{{ formatDate(purchase?.dateCreated) }}</h3>
        </div>

        <!-- Fecha de Entrega -->
        <div>
          <h3 class="text-sm text-gray-500 dark:text-gray-400 font-bold">
            <ng-icon class="btn-back-icon" size="20" name="matCalendarTodayOutline"></ng-icon>
            Fecha de Entrega
          </h3>
          <h3 class="text-sm text-blue-500 dark:text-blue-400 font-bold">{{ formatDateNotHour(purchase?.deliveryDate) }}</h3>
        </div>

        <!-- Usuario -->
        <div>
          <h3 class="text-sm text-gray-500 dark:text-gray-400 font-bold">
            <ng-icon class="btn-back-icon" size="20" name="matPersonOutlineOutline"></ng-icon>
            Usuario
          </h3>
          <h3 class="text-sm text-gray-500 dark:text-gray-400">{{ purchase?.user }}</h3>
        </div>
      </div>

      <!-- Sucursal y Estado -->
      <div class="mb-4 flex justify-between">
        <!-- Información de Sucursal -->
        <div>
          <h3 class="text-sm text-gray-500 dark:text-gray-400 font-bold">
            <ng-icon class="btn-back-icon" size="20" name="bootstrapShop"></ng-icon>
            Sucursal de destino
          </h3>
          <h3 class="text-sm text-gray-500 dark:text-gray-400">{{ purchase?.branchName || 'No especificada' }}</h3>
        </div>

        <!-- Estado de la Compra -->
        <div>
          <h3 class="text-sm text-gray-500 dark:text-gray-400 font-bold">
            <ng-icon class="btn-back-icon" size="20" name="matEditAttributesOutline"></ng-icon>
            Estado
          </h3>
          <h3 class="text-sm text-gray-500 dark:text-gray-400 text-center">
            @if (purchase?.status === 'PENDING') {
              <p class="text-blue-500 font-bold">Pendiente</p>
            }
            @if (purchase?.status === 'COMPLETED') {
              <p class="text-emerald-500 font-bold">Completada</p>
            }
            @if (purchase?.status === 'CANCELLED') {
              <p class="text-red-500 font-bold">Cancelada</p>
            }
          </h3>
        </div>
      </div>

      <!-- Total de la Compra -->
      <div class="mb-4">
        <h3 class="text-sm text-gray-500 dark:text-gray-400 font-bold">
          <ng-icon class="btn-back-icon" size="20" name="bootstrapCalculator"></ng-icon>
          Total de la Compra
        </h3>
        <h3 class="text-2xl text-emerald-500 font-bold">Q {{ calculateTotal() }}</h3>
      </div>

      <!-- Observaciones -->
      @if (purchase?.observation && purchase?.observation !== '') {
        <div class="mb-4">
          <h3 class="text-sm text-gray-500 dark:text-gray-400 font-bold">Observación</h3>
          <h3 class="text-sm text-gray-500 dark:text-gray-400">{{ purchase?.observation }}</h3>
        </div>
      }
    </div>
  </div>

  <!-- Título de Productos -->
  <div class="w-full text-lg dark:border-slate-700 mb-4 p-2 m-2 bg-gray-100 dark:bg-slate-950 rounded-lg ml-0">
    <p class="text-gray-500 dark:text-gray-300 text-base text-center font-bold">Productos de la Compra</p>
  </div>

  <!-- Lista de Productos -->
  <div class="bg-gray-100 dark:bg-slate-800 w-full m-0 grid grid-cols-1 sm:grid-cols-1 p-0 rounded-lg h-80 overflow-y-scroll scrollbar-thumb-rounded scrollbar-track-rounded">
    <ul class="p-1 w-full text-gray-500 dark:text-gray-500">
      @for(item of products; track $index) {
        <li [ngClass]="{'bg-gray-100 dark:bg-slate-950 text-gray-500': $odd }"
            class="flex py-4 rounded-lg justify-between p-4 mt-1">
          <div class="overflow-hidden float-start">
            <p [ngClass]="{'text-gray-500': $odd && darkmode !== 'dark', 'text-gray-400': $odd && darkmode === 'dark'}"
               class="text-md font-bold">{{item?.product?.productName}}</p>

            <p [ngClass]="{'text-gray-500': $odd && darkmode !== 'dark', 'text-gray-400': $odd && darkmode === 'dark' }"
               class="text-sm truncate">
               <b>Precio costo: </b><b class="text-sm font-bold text-blue-500">Q {{ formatCurrency(item?.priceCost) }}</b> x <b class="text-blue-500">{{ item?.quantity }}</b><b> Unidades</b>
            </p>

            <p [ngClass]="{'text-gray-500': $odd && darkmode !== 'dark', 'text-gray-400': $odd && darkmode === 'dark' }"
               class="text-sm truncate">
               <b class="text-sm font-bold text-emerald-500">Subtotal: Q {{ formatCurrency(item?.subtotal) }}</b>
            </p>
          </div>
        </li>
      }@empty {
        <li class="flex py-4 first:pt-0 last:pb-0">
          <div class="ml-3 overflow-hidden">
            <p>No hay productos en esta compra</p>
          </div>
        </li>
      }
    </ul>
  </div>
</div>
