<ion-content class="ion-padding">

  <ion-grid>
    <ion-row class="ion-justify-content-center" >

        <ion-col size-xs="12" size-sm="10" size-md="8" size-lg="" size-xl="7">
          <ion-card class="rounded-4">

            <ion-card-header>
              <ion-card-title>
                <ion-text color="medium">
                  <h1><ion-icon name="person-add-outline" style="font-size: 30px;"></ion-icon> {{ title }}</h1>
                </ion-text>
              </ion-card-title>
            </ion-card-header>

            <ion-card-content class="mt-2">
              <form [formGroup]="userForm">

                <ion-row>
                  <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">
                    <app-input
                      [form]="userForm"
                      name="email"
                      label="Correo electronico"
                      help="Solo se aceptan correos electronicos"
                      placeholder="Ingresa correo electronico"
                      [required]="true"
                      [load]="load">
                    </app-input>
                  </ion-col>
                  <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">
                    <app-input
                      [form]="userForm"
                      name="password"
                      label="Contraseña"
                      placeholder="Ingresa contraseña"
                      [required]="true"
                      [load]="load">
                    </app-input>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">
                    <app-input
                      [form]="userForm"
                      name="userName"
                      label="Nombre de usuario"
                      placeholder="Ingresa nombre de usuario"
                      [required]="true"
                      [load]="load">
                    </app-input>
                  </ion-col>
                  <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">
                    <app-input
                      [form]="userForm"
                      name="nickname"
                      label="Nickname"
                      placeholder="Ingresa nickname"
                      [required]="true"
                      [load]="load">
                    </app-input>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">
                    <app-select
                      [form]="userForm"
                      name="roleRef"
                      label="Rol de usuario"
                      placeholder="Selecciona un rol"
                      [required]="true"
                      [disabled]="false"
                      [load]="load"
                      [options]="{
                        resolver: 'roles',
                        label: 'label',
                        value: 'id' }">
                    </app-select>
                  </ion-col>
                  <ion-col size-xs="8" size-sm="6" size-md="6" size-lg="3" size-xl="3">
                    <app-radio-button
                      [form]="userForm"
                      name="gender"
                      label="Genero"
                      placeholder="Selecciona un genero"
                      [required]="true"
                      [disabled]="false"
                      [load]="load"
                      [values]="genderList"
                      [options]="{
                      label: 'label',
                      value: 'id' }">
                    </app-radio-button>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <ion-button shape="round" [disabled]="userForm.invalid" (click)="saveUserData()">Guardar usuario</ion-button>
                  </ion-col>
                </ion-row>

              </form>
            </ion-card-content>

          </ion-card>
        </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
