<ion-list>
  <ion-item *ngIf="!load" [disabled]="disabled">
    <ion-toggle [formControl]="getFormControl()" class="ion-toggle" mode="ios" (ionChange)="onInputChange($event)">{{ label }}</ion-toggle>
    <ion-icon *ngIf="getFormControl().valid && !load && !isControlDisabled()" name="checkmark-circle-outline" style="color: var(--global-color-valid);" slot="end"></ion-icon>
    <ion-icon *ngIf="getFormControl().invalid && !load && !isControlDisabled()" name="close-circle-outline" color="danger" slot="end"></ion-icon>
  </ion-item>

  <ion-item *ngIf="load">
    <ion-thumbnail slot="end" style="width: 60px; height: 40px;">
      <ion-skeleton-text [animated]="true" class="rounded-pill"></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 25px;" class="rounded-3"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>

</ion-list>
