<!-- HEADER -->
<app-header headerTitle="Productos" headerDescription="Gestión de módulo de productos, crear, editar, activar, desactivar y eliminar productos."></app-header>

<div class="p-2 m-2 bg-white rounded dark:bg-slate-900 border dark:border-slate-800">
  <div class="w-full border-b text-lg dark:border-slate-700 mb-4 pb-2 flex justify-between">
    @if (mode==='new') {
      <p class="text-gray-500 dark:text-gray-300 font-bold">Nuevo Producto</p>
    }
    @if (mode === 'edit'|| mode === 'view') {
      <p class="text-gray-500 dark:text-gray-300 text-base"><b>ID producto: </b>{{ id }}</p>
    }

    <button (click)="back()" class="btn-back">
      <ng-icon class="btn-back-icon" size="20" name="matArrowBackOutline"></ng-icon>
      <p class="hidden sm:block text-sm font-bold">Regresar</p>
    </button>
  </div>

  <div class="w-full text-lg dark:border-slate-700 mb-4 pb-2">
    <p class="text-gray-500 dark:text-gray-300 text-base">Información General</p>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <app-input
      [form]="form"
      name="name"
      icon="matDriveFileRenameOutlineOutline"
      label="Nombre de producto"
      placeholder="Nombre de producto"
      helpMessage="Sólo se aceptan caracteres alfabeticos"
      errorMessage="Error message."
      [minlength]="1"
      [maxlength]="80"
      [counter]="true"
      [load]="load">
    </app-input>

    <app-input
      [form]="form"
      name="productDesc"
      icon="matDriveFileRenameOutlineOutline"
      label="Descripción de producto"
      placeholder="Descripción de producto"
      helpMessage="Sólo se aceptan alfanumericos"
      errorMessage="Error message."
      [minlength]="1"
      [maxlength]="100"
      [counter]="true"
      [load]="load">
    </app-input>

    <app-input
    [form]="form"
    name="price"
    icon="matAttachMoneyOutline"
    label="Precio de producto"
    placeholder="Precio de producto"
    helpMessage="Sólo se aceptan números enteros o decimales"
    errorMessage="Error message."
    [minlength]="1"
    [maxlength]="10"
    [counter]="true"
    [load]="load">
  </app-input>

  <app-toggle
    class="ml-4"
    label="Producto Activo"
    [form]="form"
    name="active"
    (changes)="changeProductActive($event)"
    [load]="load">
  </app-toggle>
  </div>
  <div class="w-full border-b dark:border-slate-700 pb-3 pt-3 flex justify-center sm:justify-end mb-2">
    @if(!load){
    <button (click)="submit()" [disabled]="form.invalid" class="btn-primary h-10 w-36 font-bold">Guardar</button>
    } @else if(load){
      <button class="btn-primary h-10 w-36 font-bold animate-pulse"></button>
      }
  </div>

</div>
