<p class="font-bold text-xl text-center border-b pb-2 dark:border-slate-800">{{ data.title }}</p>

<div class="w-full p-3 border-b">
<div class="w-full grid grid-cols-1 sm:grid-cols-1">
  <app-input
    [form]="form"
    name="id"
    icon="bootstrapPostcardFill"
    label="ID Usuario"
    placeholder="ID Usuario"
    helpMessage="Sólo se aceptan caracteres numericos"
    errorMessage="Error message."
    [minlength]="1"
    [maxlength]="20">
  </app-input>
  <app-input
    [form]="form"
    name="name"
    icon="matDriveFileRenameOutlineOutline"
    label="Nombre de Usuario"
    placeholder="Nombre de Usuario"
    helpMessage="Sólo se aceptan caracteres alfanumericos"
    errorMessage="Error message."
    [minlength]="1"
    [maxlength]="20">
  </app-input>
  
  <app-input
    [form]="form"
    name="name"
    icon="matAlternateEmailOutline"
    label="Nombre de Usuario"
    placeholder="Nombre de Usuario"
    helpMessage="Sólo se aceptan caracteres alfanumericos"
    errorMessage="Error message."
    [minlength]="1"
    [maxlength]="20">
  </app-input>
</div>

  

  <div class="flex justify-center align-middle">
    <button (click)="filter()" [disabled]="load" class="btn-primary h-10 w-40 font-bold">
      Filtrar
    </button>
  </div>


</div>
