<ion-item  *ngIf="!load" class="no-border">
  <ion-input
    fill="solid"
    mode="md"
    [type]="type"
    [formControl]="getFormControl()"
    [placeholder]="placeholder"
    (ionChange)="onInputChange($event)"
    [errorText]="label + ' invalido'"
    helperText="{{help}}"
    labelPlacement="floating"
    style="text-align: center; display: block; margin: 0 auto;">
    <div slot="label" color="primary">{{ required ? label + '*' : label }}</div>
  </ion-input>
  <ion-icon *ngIf="icon.show" [name]="icon" color="medium" slot="end"></ion-icon>
</ion-item>

<ion-list *ngIf="load">
  <ion-item>
    <ion-label>
      <h3>
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 40px;" class="rounded-3"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 60%;" class="rounded-3"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
</ion-list>
