<ion-item  *ngIf="!load" class="no-border">
  <ion-input
    class="ion-input ion-text-center"
    fill="clear"
    mode="md"
    color="medium"
    [type]="type"
    [counter]="counter"
    [maxlength]="maxlength"
    [minlength]="minlength"
    [min]="min"
    [max]="max"
    [formControl]="getFormControl()"
    [placeholder]="placeholder"
    (ionInput)="onInputChange($event)"
    [errorText]="label + ' invalido'"
    helperText="{{isControlDisabled() ? '' : help}}"
    labelPlacement="floating"
    autocomplete="nope">
    <div slot="label" color="primary">{{ required ? label + '*' : label }}</div>
  </ion-input>
  <ion-icon *ngIf="icon.show" [name]="icon" color="medium" slot="end"></ion-icon>
  <ion-icon *ngIf="!icon.show && getFormControl().valid" name="checkmark-circle-outline" style="color: var(--global-color-valid);" slot="end"></ion-icon>
  <ion-icon *ngIf="!icon.show && getFormControl().invalid" name="close-circle-outline" color="danger" slot="end"></ion-icon>
</ion-item>

<ion-list *ngIf="load">
  <ion-item>
    <ion-label>
      <h3>
        <ion-skeleton-text [animated]="true" style="width: 100%; height: 40px;" class="rounded-3"></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text [animated]="true" style="width: 60%;" class="rounded-3"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
</ion-list>
