<app-header
title="Prodcutos"
[load]="false"
[showButtonBack]="true">
</app-header>

<ion-content>
<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size-xs="12" size-sm="10" size-md="8" size-lg="" size-xl="7">

      <ion-card class="rounded-4">
        <ion-card-header>
          <ion-card-title>
            <ion-text color="medium">
              <h1>
                <ion-icon
                  name="{{mode === 'new' ? 'add-outline': mode === 'edit' ? 'create-outline' : 'eye-outline'}}"
                  style="font-size: 30px;">
                </ion-icon>
                {{ title }}
              </h1>
            </ion-text>
          </ion-card-title>
          <ion-card-subtitle
            *ngIf="mode === 'edit'|| mode === 'edit'">
              UID de Producto: <br> {{ record?.uid }}
              <ion-icon
              class="m-0"
              [class.enlarged]="copied"
              style="font-size: 20px;"
              color="primary"
              name="copy-outline"
              (click)="copyToClipboard(record?.uid)"></ion-icon>
            </ion-card-subtitle>
        </ion-card-header>
      </ion-card>

      <ion-card class="rounded-4">
        <ion-card-header>
          <ion-card-subtitle>
            Información General de Producto
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content class="mt-2">
           <form [formGroup]="form">
            <!-- inputs -->
            <ion-row>
                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">
                  <app-input
                    [form]="form"
                    name="name"
                    label="Nombre"
                    placeholder="Ingresa nombre de producto"
                    [required]="true"
                    [load]="load"
                  ></app-input>
                </ion-col>

                <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">
                  <app-input
                    [form]="form"
                    name="description"
                    label="Descripción"
                    placeholder="Ingresa nombre de descripción producto"
                    [required]="true"
                    [load]="load">
                  </app-input>
                </ion-col>

            </ion-row>

            <!-- inputs -->
            <ion-row>

              <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">
                <app-select
                  [form]="form"
                  name="category"
                  label="Categoria"
                  placeholder="Selecciona una categoria"
                  [required]="true"
                  [disabled]="false"
                  [load]="load"
                  [options]="{
                  resolver: 'categories',
                  label: 'name',
                  value: 'uid' }">
              </app-select>
              </ion-col>

              <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">
                <app-select
                  [form]="form"
                  name="brands"
                  label="Marcas"
                  placeholder="Selecciona las marcas del producto"
                  [required]="true"
                  [multiple]="true"
                  [disabled]="false"
                  [load]="load"
                  [options]="{
                  resolver: 'brands',
                  label: 'name',
                  value: 'uid'}">
              </app-select>
              </ion-col>

            </ion-row>

            <!-- inputs -->
            <ion-row>

              <ion-col size-xs="8" size-sm="6" size-md="6" size-lg="3" size-xl="3">
                <app-toggle
                  [form]="form"
                  name="active"
                  label="Activo"
                  [disabled]="false"
                  [load]="load">
                </app-toggle>
              </ion-col>

            </ion-row>

           </form>
        </ion-card-content>
      </ion-card>

      <ion-card class="rounded-4">
        <ion-card-header>
          <ion-card-subtitle>
            Configuraciones extra del producto
            </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content class="mt-2">
           <form [formGroup]="form">

            <!-- inputs and toggle-->
            <ion-row>

              <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">
                <app-select
                  [form]="form"
                  name="unitMeasurement"
                  label="Unidad de medida de producto"
                  placeholder="Unidad de medida de producto"
                  [required]="true"
                  [disabled]="false"
                  [load]="load"
                  [values]="measurement_units"
                  [options]="{
                  label: 'label',
                  value: 'value' }">
              </app-select>
              </ion-col>

              <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">
                <app-select
                  [form]="form"
                  name="typeWholesaleUnitMeasure"
                  label="Tipo Unidad de medida por mayor"
                  placeholder="Tipo Unidad de medida por mayor"
                  [required]="true"
                  [disabled]="false"
                  [load]="load"
                  [values]="wholesale_measurement_units"
                  [options]="{
                  label: 'label',
                  value: 'value' }">
              </app-select>
              </ion-col>

            </ion-row>

            <!-- inputs -->
            <ion-row>
              <ion-col *ngIf="this.form.controls['typeWholesaleUnitMeasure'].valid" size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">
                <app-input
                  [form]="form"
                  name="name"
                  [label]="'Cantidad de unidades de ' + getTypeWholesaleUnitMeasure(this.form.controls['typeWholesaleUnitMeasure'].value)"
                  [placeholder]="'Cantidad de unidades de ' + getTypeWholesaleUnitMeasure(this.form.controls['typeWholesaleUnitMeasure'].value)"
                  [required]="true"
                  [load]="load"
                ></app-input>
              </ion-col>

              <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">
                <app-input
                  [form]="form"
                  name="priceSale"
                  label="Precio de venta"
                  placeholder="Precio de venta"
                  help="Solo se aceptan números enteros o numeros con un máximo de 2 decimales"
                  [required]="true"
                  [load]="load"
                ></app-input>
              </ion-col>
          </ion-row>

            <!--footer card-->
            <ion-row *ngIf="!load">
              <ion-col>
                <ion-button
                  *ngIf="mode !== 'view'"
                  shape="round"
                  [disabled]="form.invalid"
                  (click)="submit()">{{ mode !== 'new' ? 'Actualizar': 'Guardar'}}</ion-button>
              </ion-col>
            </ion-row>

           </form>
        </ion-card-content>
      </ion-card>

    </ion-col>

  </ion-row>
</ion-grid>

</ion-content>
