<app-header
  title="Ventas"
  icon="add-outline"
  [showButtonBack]="true">
</app-header>

<ion-content class="ion-padding">

  <ion-segment
    [(ngModel)]="segmentSelected"
    class="sticky-top"
    swipe-gesture="true"
    [scrollable]="true"
    mode="md"
    (ionChange)="changeSegment($event)">
    <ion-segment-button *ngFor="let segment of segmentList" [value]="segment.name">
      <ion-icon name="{{ segment.icon }}"></ion-icon>
      <ion-label>{{segment.label}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid *ngIf="segmentSelected === 'day'">

    <!-- Otras secciones de tu contenido aquí -->

    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-sm="10" size-md="8" size-lg="5" size-xl="5">
        <ion-card class="rounded-4">
          <ion-card-content class="mt-2">
            <ion-list *ngIf="sales.length > 0">
              <!-- Aquí van los encabezados de la tabla de ventas -->
              <ion-row style="border-bottom: 2px solid var(--ion-color-medium); padding: 10px;">
                <ion-col>
                  <ion-label color="medium"><b>Descripcion</b></ion-label>
                </ion-col>
                <ion-col>
                  <ion-label color="medium"><b>Total</b></ion-label>
                </ion-col>
                <ion-col>
                  <ion-label color="medium"><b>Fecha</b></ion-label>
                </ion-col>
                <ion-col>
                  <ion-label color="medium"><b>Estado</b></ion-label>
                </ion-col>
              </ion-row>
            </ion-list>
            <ion-list *ngIf="sales.length > 0">
              <ion-item *ngFor="let sale of sales">
                <!-- Aquí van los detalles de cada venta -->
                <ion-col>
                  <p>{{ sale.description}}</p>
                </ion-col>
                <ion-col>
                  <h2>Q. {{ firstCapitalLetter(sale.total) }}</h2>
                </ion-col>
                <ion-col>
                  <p>{{formatDate(sale.createAt) }}</p>
                </ion-col>
                <ion-col [ngClass]="{'text-danger': !isInvoiceStatus(sale.status), 'text-success': isInvoiceStatus(sale.status)}">
                  <ion-label>{{ sale.status === 'UNBILLED' ? 'No Facturada' : 'Facturada' }}</ion-label>
                </ion-col>
              </ion-item>
              <ion-row style="border-bottom: 2px solid var(--ion-color-medium); padding: 6px;">
                <ion-col>
                  <ion-label color="medium"><b>Total de Ventas</b></ion-label>
                </ion-col>
                <ion-col>
                  <ion-label color="medium"><b>Q. {{ calculateTotalSalesPrice() }}</b></ion-label>
                </ion-col>
              </ion-row>
            </ion-list>

            <ion-list *ngIf="sales.length <= 0">
              <ion-item>
                <ion-label class="text-center text-wrap">No se registraron ventas el {{ date | date: 'dd/MM/yyyy' }}</ion-label>
              </ion-item>
            </ion-list>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
