<p class="font-bold text-xl text-center border-b pb-2 mb-2 dark:border-slate-800">{{ data.title }}</p>

<div class="w-full border-b h-96 pb-0">

  <div [ngClass]="{'bg-slate-800': darkmode === 'dark', 'bg-gray-100': darkmode !== 'dark'}"
      class="w-full m-0 grid grid-cols-1 sm:grid-cols-1 p-0 rounded-lg h-80 overflow-y-scroll scrollbar-thumb-rounded scrollbar-track-rounded">


      <ul class="p-1 w-full">
        @for(product of productsSelectList; track $index) {
          <li [ngClass]="{'bg-white': $odd && darkmode !== 'dark', 'bg-slate-900': $odd && darkmode === 'dark', 'bg-slate-950': $even && darkmode === 'dark' }"
              class="flex py-4 rounded-lg justify-between p-4 mt-1">
            <div class="overflow-hidden float-start">
              <p [ngClass]="{'text-gray-500': $odd && darkmode !== 'dark', 'text-gray-200': $odd && darkmode === 'dark' }"
                 class="text-sm font-medium">{{product.product.productName}}</p>
              <p [ngClass]="{'text-gray-500': $odd && darkmode !== 'dark', 'text-gray-200': $odd && darkmode === 'dark' }"
                 class="text-sm truncate">
                 <b class="text-sm">Q {{ product.product.price.toFixed(2) }}</b>
              </p>

              <button (click)="removeProduct(product)" [ngClass]="{'text-gray-500': $odd && darkmode !== 'dark', 'text-gray-200': $odd && darkmode === 'dark' }"
                 class="text-xs truncate text-red-400"><b class="text-xs">
                  <ng-icon class="text-red-400 font-bold float-start" size="17" name="matDeleteOutline"></ng-icon>
                  Eliminar</b>
              </button>
            </div>

            <div class="float-end flex justify-between align-middle m-2">
              @if (product.quantity > 1) {
                <button (click)="removeUnit(product)">
                  <ng-icon class="text-gray-400 font-bold float-start" size="20" name="matRemoveCircleOutline"></ng-icon>
                </button>
              }
              <b class="w-12 align-middle m-0 text-center mt-3 text-sm">{{ product.quantity }}</b>
              @if (product.quantity < 99999) {
                <button (click)="addUnit(product)">
                  <ng-icon class="text-gray-400 font-bold float-start" size="20" name="matAddCircleOutline"></ng-icon>
                </button>
              }
            </div>
          </li>
        }@empty {
          <li class="flex py-4 first:pt-0 last:pb-0">
            <div class="ml-3 overflow-hidden">
              <p>No hay productos seleccionados</p>
            </div>
          </li>

           }
      </ul>
  </div>

  <div class="flex justify-center align-middle mt-2 m-0 p-0">
    <button (click)="clearList()" [disabled]="load" class="btn-danger h-12 w-48 font-bold">
      <ng-icon class="text-white font-bold float-start" size="20" name="matDeleteOutline"></ng-icon>
      <p>Limpiar</p>
    </button>
    <button (click)="ok()" class="btn-primary h-12 w-48 font-bold">
      <ng-icon class="text-white font-bold float-start" size="20" name="matRefreshOutline"></ng-icon>
      <p>Listo</p>
    </button>
  </div>
</div>
