<app-header
[title]="getModuleRoute() === 'home' ? 'Inicio' : module?.label"
[icon]="getModuleRoute() === 'home' ? 'grid-outline' : module?.icon">
</app-header>
<ion-content>

  <div class="d-flex align-content-center height-container h-100">
    <div class="container d-flex align-content-center flex-wrap">

        <div *ngIf="!load" class="row m-auto">
            <ion-button *ngFor="let submodule of submodules" fill="clear" expand="block" color="medium" class="m-auto mt-2" style="height:100px; width:50%;" (click)="navigateToSubmodule(submodule.path)">
                <div *ngIf="submodule.access" [ngClass]="{'p-5': submodules.length === 1}">
                    <div class="header">
                        <ion-icon name="{{ submodule.icon }}" color="medium" style="font-size:50px"></ion-icon>
                    </div>
                    <div class="text-muted">
                        <ion-label color="medium">{{ submodule.label }}</ion-label>
                    </div>
                </div>
            </ion-button>
        </div>

        <div *ngIf="load" class="row m-auto">
          <ion-button *ngFor="let _ of [1,2,3,4]" fill="clear" expand="block" color="medium" class="m-auto mt-2" style="height:100px; width:50%;">
            <div class="w-100">
              <p>
                <ion-skeleton-text [animated]="true" style="width: 100%; height: 50px;"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
              </p>
            </div>
          </ion-button>
        </div>

    </div>
  </div>

</ion-content>
