.icon-menu {
  font-size: 25px;
  margin: 1rem;
}

.icon-menu-static {
  font-size: 30px;
  margin: 1rem;
}

.active{
  color: #3880ff;
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;
}
