<ion-app>

  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-avatar slot="end" style="padding:10px">
          <img alt="Silhouette of a person's head" src="https://i.pinimg.com/originals/49/3f/a0/493fa0f13970ab3ef29375669f670451.jpg"/>
        </ion-avatar>
        <ion-title slot="">{{ user?.userName }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list class="rounded-4" [inset]="true">

        <ion-item *ngFor="let module of permissions" (click)="navigateModule(module)">
              <ion-icon *ngIf="module.access" class="icon-menu" name="{{ module.icon }}"></ion-icon>
             <ion-label *ngIf="module.access" routerLinkActive="active-link" color="medium">{{ module.label }}</ion-label>
        </ion-item>

        <ion-item>
          <ion-icon class="icon-menu" name="{{ themeToggle ? 'moon' : 'sunny'}}" color="{{ themeToggle ? 'warning' : 'danger' }}"></ion-icon>
          <ion-toggle mode="ios" [(ngModel)]="themeToggle" (ionChange)="toggleChange($event)" justify="space-between">
            <ion-label color="medium">Modo oscuro</ion-label>
          </ion-toggle>
        </ion-item>

        <ion-item class="bg-primary" (click)="logout()">
          <ion-icon class="icon-menu" name="log-out-outline" color="danger"></ion-icon>
          <ion-label color="danger">Cerrar sesión</ion-label>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>


  <ion-content class="ion-padding">
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-content>


  <ion-tabs>
    <ion-tab-bar *ngIf="!load" slot="bottom">
        <ion-tab-button tab="home" routerLink="{{ 'home' }}" routerLinkActive="active">
          <ion-icon name="grid-outline"></ion-icon>
          Inicio
        </ion-tab-button>

        <ion-tab-button *ngFor="let module of permissionsFooter"  tab="{{ module.path }}" (click)="navigateModule(module)" routerLinkActive="active">
          <ion-icon name="{{module.icon}}"></ion-icon>
          {{ module.label }}
        </ion-tab-button>

    </ion-tab-bar>

    <ion-tab-bar *ngIf="load" slot="bottom">
      <ion-tab-button *ngFor="let _ of [1,2,3,4]; index as index">
        <ion-skeleton-text [animated]="true" class="rounded-3" style="width: 50px; height: 30px;"></ion-skeleton-text>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>

</ion-app>
