

<div class="flex h-screen w-full overflow-hidden">
  
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <div class="flex grow flex-col content-start overflow-hidden bg-gray-100 dark:bg-slate-950">
    <!-- Header -->
    <app-navbar></app-navbar>


    <div id="main-content" class="scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-auto scrollbar-thin scrollbar-thumb-white scrollbar-track-gray-100 dark:scrollbar-thumb-slate-700 dark:scrollbar-track-slate-800">
      <router-outlet></router-outlet>
    </div>
<!-- Footer -->
    <app-footer></app-footer>

    <!-- Bottom bar -->
    <app-bottom-navbar></app-bottom-navbar>
  </div>
</div>
