<!-- HEADER -->
<app-header headerTitle="Pedidos" headerDescription="Gestión de módulo de pedidos u ordenes, se encarga de ingresar, cambiar de estado hasta finalizar cada pedido. En este módulo permite generar recibos por cada pedido."></app-header>

<div class="p-2 m-2 bg-white rounded dark:bg-slate-900 border dark:border-slate-800">

  <!-- FILTER AND SEARCH -->

  <!-- MOBILE -->
  <div class="sticky top-0 z-10 grid grid-cols-1 gap-4 md:grid-cols-1 p-1 bg-white dark:bg-slate-900 border-b dark:border-slate-600">
    <div class="border dark:border-slate-700 border-none border-t-0 border-l-0 border-r-0 m-0 p-0 pb-2 w-full">

      <button  (click)="openDialog()" type="button" class="btn-success h-10 sm:flex md:hidden lg:hidden xl:hidden 2xl:hidden 3xl:hidden">
        <div class="flex text-center justify-center align-middle">
          <p class="text-sm md:text-base">Filtros</p>
          <ng-icon class="text-white font-bold m-1" size="15" name="matFilterAltOutline"></ng-icon>
        </div>
      </button>

      <!-- @if (user.role !== 'ROLE_ADMIN') {
        <button (click)="finalizedOrders()" type="button" class="btn-success h-10 float-right w-36">
          <div class="flex text-center justify-center align-middle">
            <p class="text-sm md:text-base">Finalizar día</p>
            <ng-icon class="text-emerald-200 font-bold m-1" size="15" name="bootstrapCheckCircleFill"></ng-icon>
          </div>
        </button>
      } -->

      <!-- @if (user.role === 'ROLE_ADMIN') { -->
        <button (click)="add()" type="button" class="btn-primary h-10 float-right w-28">
          <div class="flex text-center justify-center align-middle">
            <p class="text-sm md:text-base">Nuevo</p>
            <ng-icon class="text-white font-bold m-1" size="15" name="matAddOutline"></ng-icon>
          </div>
        </button>
      <!-- } -->


    </div>

    <!-- FILTER DESKTOP -->
    <div class="md:flex w-full hidden pl-6">
        <div class="w-96">
          <app-date-picker-search
            class="w-full"
            [form]="form"
            [load]="load"
            [minDate]="minDate"
            [maxDate]="maxDate"
            name="dateCreated"
            placeholder="Fecha creación"
            (changes)="changeDateCreated($event)"
            (clear)="initPage()">
          </app-date-picker-search>
        </div>

        <button (click)="(form.controls['dateCreated'].value && form.controls['dateCreated'].value !== '') ?
          filter(null, null, null, null, null, form.controls['dateCreated'].value, form.controls['dateCreated'].value) : null" type="button" class="btn-success h-10">
          <div class="flex text-center justify-center align-middle">
            <p class="text-sm md:text-base align-middle">Buscar</p>
            <ng-icon class="text-white font-bold m-1" size="17" name="matSearchOutline"></ng-icon>
          </div>
        </button>

        <button (click)="openDialog()" type="button" class="btn-success h-10">
          <div class="flex text-center justify-center align-middle">
            <p class="text-sm md:text-base">Filtros</p>
            <ng-icon class="text-white font-bold m-1" size="17" name="matFilterAltOutline"></ng-icon>
          </div>
        </button>

    </div>

    <div class="w-full md:hidden lg:hidden xl:hidden 2xl:hidden 3xl:hidden">

      <div class="w-full p-0 m-0">
        <div class="w-full p-0 m-0 grid grid-cols-1">
          <button (click)="(form.controls['dateCreated'].value && form.controls['dateCreated'].value !== '') ?
            filter(null, null, null, null, null, form.controls['dateCreated'].value, form.controls['dateCreated'].value) : null" type="button" class="btn-success h-10">
            <div class="flex text-center justify-center align-middle">Buscar
              <ng-icon class="text-white font-bold p-0 m-0 ml-2" size="20" name="matSearchOutline"></ng-icon>
            </div>
          </button>
          <app-date-picker-search
            class="mt-3 w-full m-auto"
            [form]="form"
            [load]="load"
            [minDate]="minDate"
            [maxDate]="maxDate"
            name="dateCreated"
            placeholder="Fecha creación"
            (changes)="changeDateCreated($event)"
            (clear)="initPage()">
          </app-date-picker-search>

        </div>

      </div>

    </div>

  </div>

  <!-- PAGINATION MOBILE -->
  <div class="content-sm">
    <div class="pagination">
      <div class="w-full bg-gray-100 block rounded-lg dark:bg-slate-950">
        <div class="flex justify-between">
          <p class="bg-white dark:bg-slate-900 p-1 m-1 rounded text-xs text-start pl-2 w-48"><b> Páginas: </b> {{page}} de {{totalPages}}</p>
          <p class="bg-white dark:bg-slate-900 p-1 m-1 rounded text-xs text-start pl-2 w-48"><b> Items: </b> {{startIndex}} - {{endIndex}} de {{totalItems}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- TABLE -->
  <div class="rounded-lg">

    <!-- TABLE DESKTOP -->
    @if (!load) {
      <table class="table-grid w-full mt-4 hidden sm:table">
        <thead>
          <tr>
            <th>
              <button class="w-full h-full flex bg-gray-200 text-gray-600 dark:bg-slate-950 dark:text-gray-100 rounded-lg p-1" (click)="changeSortOrderBy('id')">
              <p>ID</p>
              @if(sortConfig.sortBy === 'id' && sortConfig.sortOrder === 'asc'){
                <ng-icon class="p-0 m-0" size="22" name="matArrowDownwardOutline"></ng-icon>
              }
              @if(sortConfig.sortBy === 'id' && sortConfig.sortOrder === 'desc'){
                <ng-icon class="p-0 m-0" size="22" name="matArrowUpwardOutline"></ng-icon>
              }
              </button>
            </th>
            <th>
              <button class="w-full h-full flex bg-gray-200 text-gray-600 dark:bg-slate-950 dark:text-gray-100 rounded-lg p-1" (click)="changeSortOrderBy('client')">
                <p>Cliente</p>
                @if(sortConfig.sortBy === 'client' && sortConfig.sortOrder === 'asc'){
                  <ng-icon class="p-0 m-0" size="22" name="matArrowDownwardOutline"></ng-icon>
                }
                @if(sortConfig.sortBy === 'client' && sortConfig.sortOrder === 'desc'){
                  <ng-icon class="p-0 m-0" size="22" name="matArrowUpwardOutline"></ng-icon>
                }
              </button>
            </th>
            <th>
              <button class="w-full h-full flex bg-gray-200 text-gray-600 dark:bg-slate-950 dark:text-gray-100 rounded-lg p-1" (click)="changeSortOrderBy('status')">
                <p>Estado</p>
                @if(sortConfig.sortBy === 'status' && sortConfig.sortOrder === 'asc'){
                  <ng-icon class="p-0 m-0" size="22" name="matArrowDownwardOutline"></ng-icon>
                }
                @if(sortConfig.sortBy === 'status' && sortConfig.sortOrder === 'desc'){
                  <ng-icon class="p-0 m-0" size="22" name="matArrowUpwardOutline"></ng-icon>
                }
              </button>
            </th>
            <th>
              <button class="w-full h-full flex bg-gray-200 text-gray-600 dark:bg-slate-950 dark:text-gray-100 rounded-lg p-1" (click)="changeSortOrderBy('transportDelivery')">
                <p>Transporte</p>
                @if(sortConfig.sortBy === 'transportDelivery' && sortConfig.sortOrder === 'asc'){
                  <ng-icon class="p-0 m-0" size="22" name="matArrowDownwardOutline"></ng-icon>
                }
                @if(sortConfig.sortBy === 'transportDelivery' && sortConfig.sortOrder === 'desc'){
                  <ng-icon class="p-0 m-0" size="22" name="matArrowUpwardOutline"></ng-icon>
                }
              </button>
            </th>
            <th>
              <button class="w-full h-full flex bg-gray-200 text-gray-600 dark:bg-slate-950 dark:text-gray-100 rounded-lg p-1" (click)="changeSortOrderBy('dateCreated')">
                <p>Ingreso</p>
                @if(sortConfig.sortBy === 'dateCreated' && sortConfig.sortOrder === 'asc'){
                  <ng-icon class="p-0 m-0" size="22" name="matArrowDownwardOutline"></ng-icon>
                }
                @if(sortConfig.sortBy === 'dateCreated' && sortConfig.sortOrder === 'desc'){
                  <ng-icon class="p-0 m-0" size="22" name="matArrowUpwardOutline"></ng-icon>
                }
              </button>
            </th>
            <th>
              <button class="w-full h-full flex bg-gray-200 text-gray-600 dark:bg-slate-950 dark:text-gray-100 rounded-lg p-1" (click)="changeSortOrderBy('dateDeliver')">
                <p>Entrega</p>
                @if(sortConfig.sortBy === 'dateDeliver' && sortConfig.sortOrder === 'asc'){
                  <ng-icon class="p-0 m-0" size="22" name="matArrowDownwardOutline"></ng-icon>
                }
                @if(sortConfig.sortBy === 'dateDeliver' && sortConfig.sortOrder === 'desc'){
                  <ng-icon class="p-0 m-0" size="22" name="matArrowUpwardOutline"></ng-icon>
                }
              </button>
            </th>
          </tr>
        </thead>

        <tbody>
          @for (order of ItemsList; track $index) {
              <tr class="text-gray-500 dark:text-gray-500 hover:bg-gray-100 dark:hover:bg-slate-800" [ngClass]="{' bg-gray-200 dark:bg-slate-950': $odd }">
                <td class="rounded">{{ order.id }}</td>
                <td class="rounded">
                  @if(order.client && order.client.id && order.client.name){
                    <p>{{ order.client.name }}</p>
                    <p class="text-xs"><b>ID </b>{{ order.client.id }}</p>
                  }@else{
                    <p>El cliente no existe</p>
                  }
                </td>
                <td class="rounded">
                  <p class="rounded-lg p-1 text-xs text-center w-full m-0"
                     [ngClass]="{
                                  'bg-red-200 text-red-600': order.status === 'PENDING',
                                  'bg-yellow-100 text-yellow-600 w-full': order.status === 'IN_PROCESS',
                                  'bg-emerald-200 text-emerald-600': order.status === 'FINALIZED',
                                  'bg-gray-50 text-gray-600': order.status === 'CANCEL' }">
                                  {{ getStatus(order.status) }}</p>
                </td>
                <td class="rounded">{{ getValuePanel(order.transportDelivery) }}</td>
                <td class="rounded">{{ formatDate(order.dateCreated) }}</td>
                <td class="rounded">{{ formatDateNotHour(order.dateDeliver) }}</td>
                <td class="rounded">
                  <div class="flex">
                    @if (order.status === 'FINALIZED' || order.status === 'PENDING' || order.status === 'CANCEL') {
                      <button (click)="view(order.id)" class="btn-action content-desktop">
                        <ng-icon class="text-blue-500 font-bold float-end" size="20" name="matRemoveRedEyeOutline"></ng-icon>
                      </button>
                    }
                    @if (order.status === 'PENDING') {
                      <button (click)="finalizedOrder(order.id)" class="btn-action content-desktop">
                        <ng-icon class="text-emerald-500 font-bold float-end" size="20" name="bootstrapCheckCircleFill"></ng-icon>
                      </button>
                    }
                    <!-- @if (order.status === 'FINALIZED') {
                      <button (click)="printReceipt(order.id)" class="btn-action content-desktop">
                        <ng-icon class="text-gray-400 font-bold float-end" size="24" name="matReceiptLongOutline"></ng-icon>
                      </button>
                    } -->
                    @if (order.status !== 'FINALIZED' && order.status !== 'CANCEL') {
                      <button (click)="cancelOrder(order.id)" class="btn-action content-desktop">
                        <ng-icon class="text-red-500 font-bold float-end" size="20" name="bootstrapXCircle"></ng-icon>
                      </button>
                    }
                  </div>
                </td>
              </tr>
           }
        </tbody>
      </table>
    }@else {
        <table class="table-grid w-full mt-4 hidden sm:table">
          <thead>
            <tr>
            @for (item of [1,2,3,4,5,6]; track $index) {
              <td>
                <div class="rounded pt-2 pb-2 p-1">
                  <div class="animate-pulse flex space-x-4">
                    <div class="flex-1 space-y-6 py-1">
                      <div class="h-7 bg-gray-400 dark:bg-slate-500 rounded"></div>
                    </div>
                  </div>
                </div>
              </td>
            }
            </tr>
          </thead>
            <tbody>
              @for (item of [1,2,3,4,5,6,7,8,9,10]; track $index) {
              <tr  class="w-full text-gray-500 dark:text-gray-500 hover:bg-gray-100 dark:hover:bg-slate-800" [ngClass]="{' bg-gray-200 dark:bg-slate-950': $odd }">

                @for (loading of [1,2,3,4,5,6]; track $index) {
                  <td class="w-20">
                    <div class="rounded pt-2 pb-2 p-1">
                      <div class="animate-pulse flex space-x-4">
                        <div class="flex-1 space-y-6 py-1">
                          <div class="h-2 bg-gray-400 dark:bg-slate-800 rounded" [ngClass]="{'bg-gray-400 dark:bg-slate-500': $odd }"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                }

                <td class="w-20">
                  <div class="flex">
                    <div class="rounded pl-2">
                      <div class="animate-pulse flex space-x-4">
                        <div class="rounded-md bg-emerald-400 h-5 w-5"></div>
                      </div>
                    </div>
                    <div class="rounded-md pl-1">
                      <div class="animate-pulse flex space-x-4">
                        <div class="rounded-md bg-blue-400 h-5 w-5"></div>
                      </div>
                    </div>
                    <div class="rounded-md pl-1">
                      <div class="animate-pulse flex space-x-4">
                        <div class="rounded-md bg-red-400 h-5 w-5"></div>
                      </div>
                    </div>
                  </div>
                </td>

              </tr>
            }
            </tbody>
        </table>
    }
    <!-- TABLE MOBILE -->

    @if (!load) {
      <table class="table-grid w-full mt-4 sm:hidden">
        <thead>
          <tr>
            <th>
              <button class="w-full h-full flex bg-gray-200 text-gray-600 dark:bg-slate-950 dark:text-gray-100 rounded-lg p-1" (click)="changeSortOrderBy('dateCreated')">
              <p>Pedidos por fecha de creación</p>
              @if(sortConfig.sortBy === 'dateCreated' && sortConfig.sortOrder === 'desc'){
                <ng-icon class="p-0 m-0" size="22" name="matArrowDownwardOutline"></ng-icon>
              }
              @if(sortConfig.sortBy === 'dateCreated' && sortConfig.sortOrder === 'asc'){
                <ng-icon class="p-0 m-0" size="22" name="matArrowUpwardOutline"></ng-icon>
              }
              </button>
            </th>
          </tr>
        </thead>

        <tbody>
          @for (order of ItemsList; track $index) {
              <tr class="text-gray-500 dark:text-gray-500 hover:bg-gray-100 dark:hover:bg-slate-800" [ngClass]="{' bg-gray-200 dark:bg-slate-950': $odd }">
                <td class="rounded">
                  <div class="flex justify-between mt-4 mb-4">
                    <h1>
                      <p class="font-bold text-gray-400 flex">
                        @if (order.status === 'FINALIZED') {<span class="relative inline-flex rounded-full h-2 w-2 bg-emerald-400"></span>}
                        @if (order.status === 'IN_PROCESS') {<span class="relative inline-flex rounded-full h-2 w-2 bg-yellow-400"></span>}
                        @if (order.status === 'PENDING') {<span class="relative inline-flex rounded-full h-2 w-2 bg-red-400"></span>}
                        @if (order.status === 'CANCEL') {<span class="relative inline-flex rounded-full h-2 w-2 bg-red-400"></span>}
                        <b class="ml-2 font-semibold text-xs text-gray-400">ID: {{ order.id }}</b>
                        <ng-icon class="mr-1 ml-4" size="16" name="matLocalShippingOutline"></ng-icon>
                        <b class="dark:text-gray-400 text-xs">{{ getValuePanel(order.transportDelivery) }}</b>
                      </p>
                      @if(order.client && order.client.name && order.client.id){
                        <p class="font-bold text-gray-400 dark:text-gray-400 text-xs">ID cliente {{ order.client.id }}</p>
                        <p class="font-bold dark:text-gray-400">{{ order.client.name }}</p>
                      }@else{
                        <p class="font-bold dark:text-gray-400">El cliente no existe</p>
                      }
                      <p class="text-sm flex">
                        <ng-icon class="mr-1" size="20" name="matPersonOutline"></ng-icon>
                        <b class="dark:text-gray-400">{{ order.user.name }}</b>
                      </p>

                      <p class="text-sm">
                        <b class="dark:text-gray-400">Ingreso: </b>{{ formatDateNotHour(order.dateCreated) }}</p>
                      <p class="text-sm">
                        <b class="dark:text-gray-400">Entrega: </b>{{ formatDateNotHour(order.dateDeliver) }}</p>
                    </h1>

                    <div class="h-100 p-2 pb-0 pl-1">
                      <app-chat-bubble
                          [id]="order.id"
                          [options]="(order.status === 'PENDING') ? actionsGridPending :
                                     (order.status === 'IN_PROCESS') ? actionsGridPrepared:actionsGridFinalized"
                          (selectOption)="selectOption($event)">
                      </app-chat-bubble>
                    </div>
                  </div>
                </td>
              </tr>
           }
        </tbody>
      </table>
    } @else {
      <table class="table-grid w-full mt-4 sm:hidden">
        <thead>
          <tr>
            <th>
              <button class="w-full h-full flex bg-gray-200 text-gray-600 dark:bg-slate-950 dark:text-gray-100 rounded-lg p-1"
                      (click)="changeSortOrderBy('dateCreated')">
              <p>pedidos por fecha de creación</p>
              @if(sortConfig.sortBy === 'dateCreated' && sortConfig.sortOrder === 'desc'){
                <ng-icon class="p-0 m-0" size="22" name="matArrowDownwardOutline"></ng-icon>
              }
              @if(sortConfig.sortBy === 'dateCreated' && sortConfig.sortOrder === 'asc'){
                <ng-icon class="p-0 m-0" size="22" name="matArrowUpwardOutline"></ng-icon>
              }
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          @for (item of [1,2,3,4,5,6]; track $index) {
            <tr class="text-gray-500 dark:text-gray-500 hover:bg-gray-100 dark:hover:bg-slate-800"
                [ngClass]="{' bg-gray-200 dark:bg-slate-950': $odd }">
              <td class="rounded">
                <div class="flex">

                  <div class="rounded-md p-2 w-60">
                    <div class="animate-pulse flex space-x-4">
                      <div class="flex-1 space-y-6 py-1">
                        <div class="space-y-3">
                          <div class="grid grid-cols-2 gap-2">
                            <div class="h-2 bg-gray-300 dark:bg-slate-700 rounded col-span-1"></div>
                            <div class="h-2 bg-gray-300 dark:bg-slate-700 rounded col-span-1"></div>
                            <div class="h-2 bg-gray-300 dark:bg-slate-700 rounded col-span-2"></div>
                            <div class="h-2 bg-gray-300 dark:bg-slate-700 rounded col-span-1"></div>
                            <div class="h-2 bg-gray-300 dark:bg-slate-700 rounded col-span-2"></div>
                            <div class="h-2 bg-gray-300 dark:bg-slate-700 rounded col-span-1"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="rounded-md p-2 w-20">
                    <div class="animate-pulse flex space-x-4">
                      <div class="flex-1 space-y-6 py-1">
                        <div class="float-end h-9 w-2 bg-gray-300 dark:bg-slate-700 rounded col-span-1"></div>
                      </div>
                    </div>
                  </div>

                </div>
              </td>
            </tr>
          }

        </tbody>
      </table>
    }


    <!-- PAGINATION DESKTOP -->
    @if (!load) {
      <div class="content-desktop">
        <div class="pagination">
          <div class="pagination-child">
            <p><b class="bg-white dark:bg-slate-800 p-2 m-1 rounded text-sm">Página {{page}} de {{totalPages}}</b></p>
            <p>Items {{startIndex}} - {{endIndex}} de {{totalItems}}</p>
            <button><ng-icon (click)="firstPage()" class="btn-pagination" name="bootstrapChevronBarLeft"></ng-icon></button>
            <button><ng-icon (click)="previousPage()" class="btn-pagination" name="bootstrapChevronLeft"></ng-icon></button>
            <button><ng-icon (click)="nextPage()" class="btn-pagination" name="bootstrapChevronRight"></ng-icon></button>
            <button><ng-icon (click)="lastPage()" class="btn-pagination" name="bootstrapChevronBarRight"></ng-icon></button>
          </div>
        </div>
      </div>
    }@else{
      <div class="content-desktop">
        <div class="pagination">
          <div class="pagination-child">

            <div class="rounded-md max-w-sm w-full mx-auto">
              <div class="animate-pulse flex space-x-4">
                <div class="h-5 bg-slate-700 rounded w-28 ml-0 m-1 mr-0"></div>
                <div class="flex align-middle justify-between m-0">
                  <div class="h-3 bg-slate-700 rounded w-28 ml-0 m-1"></div>
                  <div class="flex gap-1">
                    <div class="rounded-full bg-slate-700 h-6 w-6"></div>
                    <div class="rounded-full bg-slate-700 h-6 w-6"></div>
                    <div class="rounded-full bg-slate-700 h-6 w-6"></div>
                    <div class="rounded-full bg-slate-700 h-6 w-6"></div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    }

    <!-- PAGINATION MOBILE -->
    @if (!load) {
      <div class="content-sm">
        <div class="pagination">
          <div class="w-full bg-gray-100 block rounded-lg dark:bg-slate-950">

            <div class="flex justify-between mb-2 p-2 rounded-lg border m-1 bg-white dark:bg-slate-900 dark:border-slate-700">
              <button class="btn-pagination"><ng-icon (click)="firstPage()" size="22" name="bootstrapChevronBarLeft"></ng-icon></button>
              <button class="btn-pagination"><ng-icon (click)="previousPage()" size="22" name="bootstrapChevronLeft"></ng-icon></button>
              <button class="btn-pagination"><ng-icon (click)="nextPage()" size="22" name="bootstrapChevronRight"></ng-icon></button>
              <button class="btn-pagination"><ng-icon (click)="lastPage()" size="22" name="bootstrapChevronBarRight"></ng-icon></button>
            </div>

            <div class="flex justify-between">
              <p class="bg-white dark:bg-slate-900 p-1 m-1 rounded text-sm text-start pl-2 w-48"><b> Páginas: </b> {{page}} de {{totalPages}}</p>
              <p class="bg-white dark:bg-slate-900 p-1 m-1 rounded text-sm text-start pl-2 w-48"><b> Items: </b> {{startIndex}} - {{endIndex}} de {{totalItems}}</p>
            </div>

          </div>
        </div>
      </div>
    } @else {
      <div class="content-sm">
        <div class="pagination">
          <div class="w-full bg-gray-100 block rounded-lg dark:bg-slate-950">

            <div class="rounded-md w-full p-2 pb-1">
              <div class="animate-pulse flex w-full justify-between">
                <div class="rounded-full bg-slate-700 h-6 w-6"></div>
                  <div class="rounded-full bg-slate-700 h-6 w-6"></div>
                  <div class="rounded-full bg-slate-700 h-6 w-6"></div>
                  <div class="rounded-full bg-slate-700 h-6 w-6"></div>
              </div>
            </div>

            <div class="rounded-md w-full p-2 pt-1">
              <div class="animate-pulse flex w-full justify-between gap-1">
                <div class="h-5 bg-slate-700 rounded w-48"></div>
                <div class="h-5 bg-slate-700 rounded w-48"></div>
              </div>
            </div>

          </div>
        </div>
      </div>
    }
  </div>
</div>
