<app-header
title="Anulacion"
[load]="false"
[showButtonBack]="true">
</app-header>

<ion-toolbar>
  <ion-row class="ion-justify-content-center">
    <ion-col class="m-auto d-flex col-12 align-items-center" size-xs="12" size-sm="10" size-md="8" size-lg="5" size-xl="5">
      <ion-searchbar
        placeholder="Buscar"
        shape="round"
        class="rounded-pill"
        #searchBar
        (keyup.enter)="handleInput(searchBar)"
      >
      </ion-searchbar>
      <ion-button (click)="handleInput(searchBar)">
        <ion-icon class="text-white" name="search-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-sm="10" size-md="8" size-lg="" size-xl="5">
      
        <!-- aignacion de targeta anulacion -->
        <ion-card class="rounded-4">
          <ion-card-header>
            <ion-card-title>
             Anulacion Venta
            </ion-card-title>
          </ion-card-header>
        <ion-card-content class="mt-2">
          <form [formGroup]="form">
            <ion-row>
                <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="12" size-xl="6">
                  <app-toggle
                    [form]="form"
                    name="defective" 
                    label="Descartar de Stock"
                    [disabled]="false"
                    [load]="load"
                    (changes)="changeToogle($event)"
                  >
                  </app-toggle>
                </ion-col>
                <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="12" size-xl="6">
                  
                  <app-input
                  [form]="form"
                  name="comment"
                  label="Comentario"
                  placeholder="Motivo de Anulacion"
                  [required]="true"
                  [load]="load"
                  [maxlength]="25"
                   [minlength]="2"
                  [counter]="true"
                  [help]="getMessageApp('TEXT')"
                  ></app-input>
                </ion-col>  
            </ion-row>
          </form>
        </ion-card-content>
        </ion-card>
        <!-- fin tarjeta anulacion -->

      

      <!-- asignacion de datos de venta -->
        <ion-card class="rounded-4">
          <ion-card-header>
          <ion-card-subtitle>
           Datos de la Venta
           </ion-card-subtitle>
         <ion-card-content class="mt-2">
          <form [formGroup]="form">
            <ion-row>
              <ion-toolbar>
                <ion-card-content class="mt-2">
                  <ion-list >
                    <ion-row>
                      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="12" size-xl="6">
                        <app-input
                          [form]="formSale"
                          name="nit"
                          label="NIT"
                          placeholder="NIT del Cliente"
                          [required]="true"
                          [load]="load"
                          [counter]="true"
                        ></app-input>
                      </ion-col>
                      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="12" size-xl="6">
                        <app-input
                          [form]="formSale"
                          name="date"
                          label="Fecha"
                          placeholder="Fecha de Venta"
                          [required]="true"
                          [load]="load"
                          [counter]="true"
                        ></app-input>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="12" size-xl="6">
                        <app-input
                          [form]="formSale"
                          name="description"
                          label="Descripción"
                          placeholder="Descripcion de Venta"
                          [required]="true"
                          [load]="load"
                          [counter]="true"
                        ></app-input>
                      </ion-col>
                      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="12" size-xl="6">
                        <app-input
                          [form]="formSale"
                          name="status"
                          label="Estado"
                          placeholder="EStado de Venta"
                          [required]="true"
                          [load]="load"
                          [counter]="true"
                        ></app-input>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12 " size-xl="12">
                        <app-input
                          [form]="formSale"
                          name="total"
                          label="Total"
                          placeholder="Total de Venta"
                          [required]="true"
                          [load]="load"
                          [counter]="true"
                        ></app-input>
                      </ion-col>
                    </ion-row>
                  </ion-list>
                </ion-card-content>
              </ion-toolbar>
            </ion-row>
          </form>
        </ion-card-content>
       </ion-card-header>
       </ion-card>
       <!-- fin de datos de venta -->

       <!-- Tarjeta para mostrar productos vendidos -->
       <ion-card class="rounded-4">
        <ion-card-header>
          Productos Vendidos
        </ion-card-header >   
        <ion-card-content class="mt-2">
          <form [formGroup]="formProduct">
            <ion-row>
              <ion-toolbar>
                <ion-card class="mt-2">
                  <ion-list>
                    <ion-row style="border-radius: 10px; border:1px solid var(--ion-color-medium);">
                      <ion-col>
                        <ion-label color="medium"><b>Nombre</b></ion-label>
                      </ion-col>
                      <ion-col>
                        <ion-label color="medium"><b>Unidades</b></ion-label>
                      </ion-col>
                      <ion-col>
                        <ion-label color="medium"><b>Precio</b></ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-list>
                  <ion-list>
                    <ion-list style="border-radius: 10px; border:1px solid var(--ion-color-medium);">
                      <ion-item *ngFor="let product of productsSale" >
                        <ion-col><p> {{ product. name }}</p></ion-col>
                        <ion-col><p> {{ product.units }}</p></ion-col>
                        <ion-col><p> Q {{ product.priceSale }}</p></ion-col>
                      </ion-item>
                    </ion-list>
                  </ion-list>

                </ion-card>

              </ion-toolbar>
            </ion-row>
          </form>
        </ion-card-content>
        <ion-row *ngIf="!load">
          <ion-col>
            <ion-button
              shape="round"
              [disabled]="form.invalid && formSale.invalid && formProduct.invalid"
              (click)="submit()">Anular Venta</ion-button>
          </ion-col>
          
        </ion-row>
      
       </ion-card>
       
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

